@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 112.5%;
}

body {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fdfcf9;
  color: #0f172a;
  scroll-behavior: smooth;
  line-height: 1.5em;
  font-size: 18px;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1em;
  text-transform: none;
}

h1 {
  font-size: 50px;
  font-size: 2.7777777777778rem;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: none;
}

h2 {
  font-size: 32px;
  font-size: 1.7777777777778rem;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: none;
}

h3 {
  font-size: 26px;
  font-size: 1.4444444444444rem;
  font-weight: 400;
  line-height: 1.3em;
  text-transform: none;
}

h4 {
  font-size: 24px;
  font-size: 1.3333333333333rem;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: none;
}

h5 {
  font-size: 20px;
  font-size: 1.1111111111111rem;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: none;
}

h6 {
  font-size: 16px;
  font-size: 0.88888888888889rem;
  font-weight: 400;
  line-height: 1.25em;
  text-transform: none;
}

main {
  margin-top: 0;
}

.flip-card {
  perspective: 1000px;
  aspect-ratio: 2 / 3;
  width: 100%;
  max-height: 450px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

